.dart_tool/
.packages
.pub-cache/
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.metadata
*.iml
*.g.dart
.idea/
android/.gradle/
android/captures/
android/gradlew
android/gradlew.bat
android/local.properties
android/**/GeneratedPluginRegistrant.java
android/key.properties
*.jks
*.keystore
android/key.properties
android/keystore-ora-ahora.jks
*.jks
ora-ahora-v8.apk.zip
*.apk.zip

# binarios de entrega
*.aab
ficha_play.zip
ora-ahora.apk.zip
ora-ahora-v16.apk.zip
